<style>
@font-face {
    font-family: 'Inconsolata';
}

*{
    font-family: 'Inconsolata';
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    max-width: 100%;
}

</style>
