@font-face {
	font-family: 'Open Sans';
}

*{
	font-family: 'Open Sans';
}

body {
	background-color: rgba(46, 46, 46, 0.9);
}

.banner {
	background-color: #242424;
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center; 
}

a:link, a:visited, a.namebrand {
	color: white;
	-webkit-transition: color 0.25s;
	-moz-transition:    color 0.25s;
	-ms-transition:     color 0.25s;
	-o-transition:      color 0.25s;
	transition:         color 0.25s;
	text-decoration: none;
}

a.namebrand {
  font-size: 5vw; 
}

.container {
	color: white;
	display: flex;
	flex-direction: column;
	font-size: large;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 60%;
	padding-bottom: 10px;
}

.container a:link, a:visited{
	color: #ffc300;
}

h1 {
	letter-spacing: 2px;
	color: #ffc300;
	text-align: center;
}

img, em {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
	font-size: small;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.contactnav {
	background-color: #242424;
}

.contactnav, .contact {
	border-top: 1px solid #ffc300;
}

.contactnav li, .contact li {
	display: inline;
	padding: 20px;
	font-size: 1.5em;
}

.contactnav a, .contact a {
	color: white;
}

.contactnav a:hover, .contact a:hover {
	color: #ffc300;
}

.meta {
	margin-top: 5px;
	text-align: center;
}

.indivpost {
	margin-bottom: 30px;
	border: 1px solid #ffc300;
}

.post-thumb {
	width: 25%;
	border: 1px solid #ffc300;
}

/* Mobile display changes */
@media (-webkit-min-device-pixel-ratio: 2.6) {
	.container {
		max-width: 80%
	}
	
	a.namebrand {
		font-size: 50px;
	}
 }

 /* Blinking terminal text */
.blinking{
	animation:blinkingText 0.8s infinite;
}

@keyframes blinkingText{
	0% {color: #000;}
	49%{color: transparent;}
	50%{color: transparent;}
	99%{color:transparent;}
	100%{color: #000;}
}
