<style>
@font-face {
    font-family: 'Inconsolata';
}

*{
    font-family: 'Inconsolata';
}

.banner {
    height: 357px;
    width: 1503px;
    position: relative;
}

.bannerpic {
    position: absolute;
    left: 0;
    top: 0;
}

.namebrand {
  z-index: 100;
  position: absolute;
  left: 50%
  top: 50%
  color: #ffc300;
  font-weight: bold;
  font-size: 3em; 
}

a:link, a:visited {
    color: #707070;
    text-decoration: none;
}

a:hover {
    color: #ffc300;
    text-decoration: underline;
}

.container {
    align-items: center;
    background-color: #e6ecf0;
    display: flex;
    flex-direction: column;
    max-width: 65%;
    margin: 0 auto;
    padding-bottom: 10px;
}

img, em {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.contactnav {
    padding: 10px;
    border-top: 1px dotted #ffc300;
}

.contactnav li {
    display: inline;
    padding: 20px;
}

.project {
    border: 1px solid #ffc300;
}

.project-thumb {
    float: right;
    width: 25%;
    border: 3px solid #ffc300
}

</style>
