<style>
@import "normalize.css";

@font-face {
    font-family: 'Inconsolata';
}

*{
    font-family: 'Inconsolata';
}

body {
    background-color: #202020;
}

.banner {
    height: 357px;
    width: 1503px;
    position: relative;
}

.bannerpic {
    position: absolute;
    left: 0;
    top: 0;
}

a:link, a:visited {
    color: #ffc300;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.namebrand {
  z-index: 100;
  position: absolute;
  left: 40%;
  top: 40%;
  color: #ffc300;
  font-weight: bold;
  font-size: 3.5em; 
}

.container {
    align-items: center;
    background-color: #363636;
    color: #ddd;
    display: flex;
    flex-direction: column;
    max-width: 65%;
    margin: 0 auto;
    padding-bottom: 10px;
}

h1 {
    color: #ffc300;
}

img, em {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.contactnav {
    z-index: 100;
    position: absolute;
    border-top: 3px dotted #ffc300;
    left: 540px;
    top: 330px;
}

.contactnav li, .contact li {
    display: inline;
    padding: 20px;
    font-size: 1.5em
}

.project {
    border: 1px solid #ffc300;
}

.project-thumb {
    float: right;
    width: 25%;
    border: 3px solid #ffc300
}

</style>
