---
layout: default
title: JT - Blog
---
<h1>Blog</h1>
<ul>
     {% for post in site.posts %}
         <li class="indivpost">
             {{ post.date|date: "%B %d, %Y" }}
             <a href="{{ post.url }}" title="{{ post.title }}"> 
                {{ post.title }} 
             </a>
              <p> {{ post.content | strip_html | truncatewords:50 }} </p>
         {% if post.excerpt != post.content %}
             <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
         {% endif %}
         </li>
     {% endfor %}
</ul>
