<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <link rel="stylesheet" type="text/css" href="style.css">
            <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        </head>
        
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutme">About Me</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
            </nav>
            
            <div class="container">
                {{ content }}
            </div>
        </body>
        
        <footer>
            <ul>
                <li><a href="mailto:justin.tran.jt@gmail.com">Personal Email</a></li>
                <li><a href="mailto:jctran@princeton.edu">School/Work Email</a></li>
                <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
                <li><a href="https://twitter.com/JustinTranJT">Twitter</a></li>
                <li><a href="https://github.com/justintranjt">GitHub</a></li>
            </ul>
        </footer>
    </html>
